@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1631862170809') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e611";
}

.icon-fanhuidingbu:before {
  content: "\e637";
}

.icon-xiazai:before {
  content: "\e620";
}

.icon-shouji:before {
  content: "\e63a";
}

.icon-qiabao:before {
  content: "\e674";
}

.icon-kefu:before {
  content: "\e641";
}

.icon-shouye:before {
  content: "\e607";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-app:before {
  content: "\e6d7";
}

.icon-fenlei:before {
  content: "\e612";
}

.icon-wodexiaoxi:before {
  content: "\e69e";
}

.icon-fanhui:before {
  content: "\e603";
}

.icon-ziyuan183:before {
  content: "\e78d";
}

